.ArticleComments_emptyContainer__I4fw6 {
  padding: 2.1rem 0;
  text-align: center;
  background: var(--c-bg-base-inner);
}
.ArticleComments_emptyImg__FGwCr {
  display: block;
  max-width: 80%;
  margin: 15px auto;
}
.ArticleComments_commentsContainer__kOO0n {
  background: var(--c-bg-base-inner);
  border: 1px solid var(--c-neutral-border-lighter);
  border-radius: var(--rounded-xs);
  margin-top: 2.5rem;
}
@media screen and (max-width: 576px) {
  .ArticleComments_commentsContainer__kOO0n {
    margin-top: 0;
    border-top: 2px solid var(--c-bg-neutral);
    border-radius: 0;
  }
}
.ArticleComments_comments__y4Azs {
  font-size: .95rem;
}
.ArticleComments_commentsHeadingContainer__v8IYT {
  padding: 1.2rem 0;
}
.ArticleComments_commentForm__b1KSY,
.ArticleComments_commentItemContainer__K2ijm {
  border-top: 1px solid var(--c-neutral-border-lighter);
}
.ArticleComments_commentForm__b1KSY {
  overflow: hidden;
  border-radius: 0 0 var(--rounded-xs) var(--rounded-xs);
}
.ArticleComments_commentFormLogin__k5bW9 {
  padding: 1rem .5rem 1.5rem;
  font-size: .95rem;
  color: var(--c-text-lower-priority);
  text-align: center;
  background: var(--c-bg-base-inner);
}
.ArticleComments_commentFormLoginButtonContainer__SVIHJ {
  margin-top: .7rem;
}
.ArticleComments_threadEditorContainer__P2Ay2 {
  padding: 1rem;
  background: var(--c-bg-base-inner);
}
@media screen and (max-width: 400px) {
  .ArticleComments_threadEditorContainer__P2Ay2 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.ArticleComments_guidelineMessage__FUTls {
  margin-top: .8rem;
}
@media screen and (max-width: 576px) {
  .ArticleComments_guidelineMessage__FUTls {
    padding: 0 1rem;
  }
}
.GuidelineText_container__iu_QJ {
  display: flex;
}
.GuidelineText_message__H3Ur7 {
  flex: 1;
}
.GuidelineText_icon__D0PVe {
  width: 18px;
  height: 18px;
  margin-top: 1.5px;
  margin-right: 4px;
  color: var(--c-text-lower-priority);
}
.Paragraph_centered__85o_i {
  display: table;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.Paragraph_common__yRSrj code {
  display: inline-flex;
  padding: .02em .4em;
  margin: 0 .2em;
  font-family: inherit;
  font-size: .9em;
  vertical-align: .08em;
  background: var(--c-bg-neutral);
  border-radius: var(--rounded-xs);
  opacity: 0.9;
}
.Paragraph_forColoredBg__ZGgzH code {
  background: #fff;
  border: 1px solid var(--c-neutral-border);
}
.Paragraph_description-sm__vmr99,
.Paragraph_description___HKfW {
  line-height: 1.7;
}
.Paragraph_description___HKfW {
  font-size: .95rem;
}
.Paragraph_description-sm__vmr99 {
  font-size: .9rem;
}
.Paragraph_sidenote-sm__zfJpo,
.Paragraph_sidenote__9NTjJ {
  color: var(--c-text-low-priority);
}
.Paragraph_sidenote__9NTjJ {
  font-size: .9rem;
  line-height: 1.7;
}
.Paragraph_sidenote-sm__zfJpo {
  font-size: .83rem;
  line-height: 1.6;
}
.Paragraph_decorateLink__aIAFh.Paragraph_description-sm__vmr99 a,
.Paragraph_decorateLink__aIAFh.Paragraph_description___HKfW a {
  color: var(--c-text-link-primary);
}
.Paragraph_decorateLink__aIAFh.Paragraph_description-sm__vmr99 a:hover,
.Paragraph_decorateLink__aIAFh.Paragraph_description___HKfW a:hover {
  text-decoration: underline;
}
.Paragraph_decorateLink__aIAFh.Paragraph_sidenote-sm__zfJpo a,
.Paragraph_decorateLink__aIAFh.Paragraph_sidenote__9NTjJ a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--c-text-lower-priority);
  text-underline-offset: .2em;
}
.Paragraph_decorateLink__aIAFh.Paragraph_sidenote-sm__zfJpo a:hover,
.Paragraph_decorateLink__aIAFh.Paragraph_sidenote__9NTjJ a:hover {
  color: var(--c-text-body);
  text-decoration-color: var(--c-text-body);
}
.Heading_size-2xl__3YXbz {
  font-size: 2.4rem;
}
@media screen and (max-width: 768px) {
  .Heading_size-2xl__3YXbz {
    font-size: 2rem;
  }
}
.Heading_size-xl__BBLmD {
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .Heading_size-xl__BBLmD {
    font-size: 1.6rem;
  }
}
.Heading_size-lg__KD3Up {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .Heading_size-lg__KD3Up {
    font-size: 1.4rem;
  }
}
.Heading_size-md__Zg0Hr {
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .Heading_size-md__Zg0Hr {
    font-size: 1.2rem;
  }
}
.Heading_size-sm__uF0C8 {
  font-size: 1.1rem;
}
.Heading_size-xs__woklr {
  font-size: 1.02rem;
}
.Heading_centered__lNLF_ {
  display: table;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}
.Heading_letterSpaced__6QUgL {
  letter-spacing: .06em;
}
.Heading_bordered__p__Wn {
  padding-bottom: .3em;
  margin-bottom: 1.4rem;
  border-bottom: 1px solid var(--c-neutral-border);
}
.ArticleHeader_header__IRbtk {
  padding: 3.8rem 0 4rem;
  line-height: 1.4;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .ArticleHeader_header__IRbtk {
    padding: 3.4rem 0 3.2rem;
  }
}
.ArticleHeader_main__W98WY {
  position: relative;
}
.ArticleHeader_emoji__30JiU {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
}
.ArticleHeader_title__9jiOv {
  display: inline-block;
  max-width: 780px;
  margin: 1.2rem auto 0;
  font-size: 33px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .ArticleHeader_title__9jiOv {
    font-size: 24px;
  }
}
.ArticleHeader_metaContainer__5UzrJ {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  font-size: 14.5px;
  text-align: left;
}
.ArticleHeader_metaInfo__XrRdh {
  display: flex;
  gap: 12px;
  align-items: center;
  min-width: 0;
  color: var(--c-text-low-priority);
}
.ArticleHeader_metaInfo__XrRdh a {
  color: inherit;
}
.ArticleHeader_userInfo__g_sSW {
  display: flex;
  align-items: center;
  min-width: 0;
}
.ArticleHeader_editButtonContainer__w8_Q5 {
  position: absolute;
  top: -32px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .ArticleHeader_editButtonContainer__w8_Q5 {
    display: none;
  }
}
.ArticleHeader_avatar__anCEE {
  display: none;
  flex-shrink: 0;
}
@media screen and (max-width: 992px) {
  .ArticleHeader_avatar__anCEE {
    display: initial;
  }
}
.ArticleHeader_metaUserName__FbZgW {
  display: none;
  margin-left: 8px;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 992px) {
  .ArticleHeader_metaUserName__FbZgW {
    display: initial;
  }
}
.ArticleHeader_pubDate__gF_sc {
  flex-shrink: 0;
}
.ArticleHeader_updateDateContainer__3bpiJ {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .ArticleHeader_updateDateContainer__3bpiJ {
    display: none;
  }
}
.ArticleHeader_commentsLink__QKD9j,
.ArticleHeader_updateDate__W9Sai {
  display: flex;
  flex-shrink: 0;
  gap: 4px;
  align-items: center;
}
.ArticleHeader_commentsLink__QKD9j {
  text-decoration: underline;
  text-decoration-color: var(--c-text-lower-priority);
}
.ArticleHeader_num__7Zpz0 {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .07em;
}
.AvatarImage_plain__Fgp4R {
  display: block;
  flex-shrink: 0;
  height: auto;
  font-size: 11px;
  border-radius: var(--rounded-full);
}
.AvatarImage_border__pDIjF {
  border: 1px solid var(--c-neutral-border-lighter);
}
.AvatarImage_withPublication__hNtIe {
  border-radius: var(--rounded-publication);
}
.Emoji_twemoji__hcxYF {
  display: none;
  vertical-align: -.1em;
}
.Emoji_twemojiImg__Oc6vR {
  display: inline-flex;
  width: 1em;
  height: 1em;
  background-size: contain;
}
.Emoji_nativeEmoji__GMBzX {
  display: inline-flex;
  width: 1.1em;
  margin-left: .05em;
  overflow: hidden;
  line-height: 1.1;
  color: #000;
  letter-spacing: .1em;
  white-space: nowrap;
}
body[data-use-twemoji="true"] .Emoji_twemoji__hcxYF {
  display: inline-flex;
}
body[data-use-twemoji="true"] .Emoji_nativeEmoji__GMBzX {
  display: none;
}
.ArticleSidebar_container__jSRJw {
  height: 100%;
}
.ArticleSidebar_sidebarCard__AtM_Z {
  background: var(--c-bg-base-inner);
  border: 1px solid var(--c-neutral-border-lighter);
  border-radius: var(--rounded-xs);
}
.ArticleSidebar_sticky__W61mq {
  position: sticky;
  top: var(--spacing-sm);
  display: flex;
  flex-direction: column;
}
.ArticleSidebar_user__vJ7nz {
  padding: 20px;
}
.ArticleSidebar_badgeAbout__Y3cIb {
  margin: 6px 0 -11px;
  text-align: center;
}
.ArticleSidebar_badgeAboutLink__aqdNT {
  font-size: 12px;
}
.ArticleSidebar_bannerSection__8l2yf {
  padding: 20px;
}
.ArticleSidebar_bannerSectionHeader__V3B_A {
  display: flex;
  gap: .4rem;
  align-items: flex-start;
  justify-content: space-between;
  font-size: .75rem;
  color: var(--c-text-low-priority);
  word-break: keep-all;
}
.ArticleSidebar_bannerSectionTitle___YbGV {
  font-size: .75rem;
  font-weight: 600;
  display: -webkit-box !important;
  max-height: 3.05em;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ArticleSidebar_bannerContainer__XjaIR {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.ArticleSidebar_modalContainer__dvgtM {
  padding: .8rem;
}
.ArticleSidebar_sidenoteTitle__S2xZj {
  font-size: .75rem;
  font-weight: 600;
  color: var(--c-text-low-priority);
}
.ArticleSidebar_zennPrContainer__VFiIp {
  padding: 20px;
}
.ArticleSidebarToc_toc__dUPn8 {
  border: 1px solid var(--c-neutral-border-lighter);
  border-radius: var(--rounded-xs);
  max-height: calc(100vh - 50px);
  padding: 20px 20px 25px;
  overflow: auto;
  background: var(--c-bg-base-inner);
}
.ArticleSidebarToc_tocTitle__A3VjO {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}
.ArticleToc_toc__WF75u {
  font-size: 14px;
  line-height: 1.5;
}
.ArticleToc_toc__WF75u ol {
  padding: 0;
  list-style: none;
}
.ArticleToc_toc__WF75u li,
.ArticleToc_toc__WF75u ol {
  position: relative;
}
.ArticleToc_toc__WF75u li:before {
  position: absolute;
  content: "";
  border-radius: var(--rounded-full);
}
.ArticleToc_toc__WF75u a {
  position: relative;
  display: block;
  display: -webkit-box;
  max-height: 3.05em;
  margin: 8px 0;
  overflow: hidden;
  color: var(--c-text-low-priority);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: none;
}
.ArticleToc_toc__WF75u a.active,
.ArticleToc_toc__WF75u a:hover {
  color: var(--c-text-body);
}
.ArticleToc_toc__WF75u .ol-depth-1:before {
  position: absolute;
  top: 17px;
  bottom: 8px;
  left: 5px;
  width: 2px;
  content: "";
  background: var(--c-bg-primary);
  border-radius: 0 0 5px 5px;
}
.ArticleToc_toc__WF75u .ol-depth-1 > li {
  position: relative;
  padding-left: 21px;
  margin-top: 5px;
  font-weight: 700;
}
.ArticleToc_toc__WF75u .ol-depth-1 > li:before {
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background: #b0d3f9;
  border: 2px solid #fff;
}
.ArticleToc_toc__WF75u .ol-depth-1 > li.active:before {
  background: var(--c-general-primary);
  border-color: var(--c-bg-primary);
}
.ArticleToc_toc__WF75u .ol-depth-2 {
  font-weight: 400;
}
.ArticleToc_toc__WF75u .ol-depth-2 li.active {
  border-color: var(--c-general-primary);
}
.ArticleToc_toc__WF75u .ol-depth-2 li:before {
  top: 6px;
  left: -19px;
  width: 8px;
  height: 8px;
  background: #d9eafb;
  border: 2px solid #fff;
}
.ArticleToc_toc__WF75u .ol-depth-2 li.active:before {
  background: var(--c-general-primary);
  border-color: var(--c-general-primary);
}
.EventPromotionLink_container__R_ARC {
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .EventPromotionLink_container__R_ARC {
    width: 100%;
  }
}
.EventPromotionLink_sideContainer__DgMSB {
  width: 100%;
  overflow: hidden;
}
.EventPromotionLink_label__YTWmc {
  width: max-content;
  padding: 0 6px;
  margin-top: 2px;
  font-size: 12px;
  line-height: 1.6;
  color: var(--c-general-primary);
  border: 1px solid var(--c-general-primary);
  border-radius: var(--rounded-xxs);
  font-family: var(--font-latin-hero);
}
@media screen and (max-width: 576px) {
  .EventPromotionLink_label__YTWmc {
    font-size: 11px;
    line-height: 1.5;
  }
}
.EventPromotionLink_emoji__oGfHd,
.EventPromotionLink_icon__ZxNuu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-lg);
}
.EventPromotionLink_emoji__oGfHd {
  background: var(--c-bg-emoji);
}
.EventPromotionLink_regular__U6ljA .EventPromotionLink_emoji__oGfHd,
.EventPromotionLink_regular__U6ljA .EventPromotionLink_icon__ZxNuu {
  width: 92px;
  min-width: 92px;
  height: 92px;
}
.EventPromotionLink_regular__U6ljA .EventPromotionLink_emoji__oGfHd {
  font-size: 42px;
}
.EventPromotionLink_small__p1GoA .EventPromotionLink_emoji__oGfHd,
.EventPromotionLink_small__p1GoA .EventPromotionLink_icon__ZxNuu {
  width: 72px;
  min-width: 72px;
  height: 72px;
}
.EventPromotionLink_small__p1GoA .EventPromotionLink_emoji__oGfHd {
  font-size: 37px;
}
.EventPromotionLink_mini__ltM5X .EventPromotionLink_emoji__oGfHd,
.EventPromotionLink_mini__ltM5X .EventPromotionLink_icon__ZxNuu {
  width: 66px;
  min-width: 66px;
  height: 66px;
}
.EventPromotionLink_mini__ltM5X .EventPromotionLink_emoji__oGfHd {
  font-size: 34px;
}
.EventPromotionLink_mini__ltM5X .EventPromotionLink_title__y2oFU {
  font-size: .85rem;
  line-height: 20px;
  color: var(--c-text-low-priority);
  display: -webkit-box !important;
  max-height: 4.55em;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.EventPromotionLink_regular__U6ljA .EventPromotionLink_title__y2oFU,
.EventPromotionLink_small__p1GoA .EventPromotionLink_title__y2oFU {
  margin-top: .2rem;
  font-size: 1rem;
  font-weight: 700;
  display: -webkit-box !important;
  max-height: 3.05em;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media screen and (max-width: 576px) {
  .EventPromotionLink_regular__U6ljA .EventPromotionLink_title__y2oFU,
  .EventPromotionLink_small__p1GoA .EventPromotionLink_title__y2oFU {
    font-size: .95rem;
  }
}
.EventPromotionLink_link__KGWRW {
  display: block;
}
.EventPromotionLink_link__KGWRW:visited {
  color: #4b4f52;
}
.HelpIcon_icon__mK38p {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 10px;
  font-weight: 700;
  line-height: 17px;
  color: #fff;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--rounded-full);
}
.HelpIcon_icon__mK38p,
.HelpIcon_icon__mK38p:hover {
  background: var(--c-text-lower-priority);
}
.HelpIcon_border__aQNS9 {
  border: 1.5px solid var(--c-bg-neutral-lightest);
}
[data-theme="dark-blue"] .HelpIcon_icon__mK38p {
  background: #09376d;
}
.PublicationBannerLink_container__JpR99 {
  display: inline-flex;
  align-items: center;
  color: var(--c-text-body);
}
.PublicationBannerLink_container__JpR99:hover {
  text-decoration: underline;
}
.PublicationBannerLink_image__Vu6_3 {
  border: 1px solid var(--c-neutral-border);
  border-radius: var(--rounded-publication);
}
.PublicationBannerLink_title__2v16x {
  margin-left: .5rem;
  font-size: .85rem;
  line-height: 20px;
  display: -webkit-box !important;
  max-height: 4.55em;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.GithubLink_link__3iaUH {
  width: 23px;
  height: 23px;
  color: var(--c-text-lower-priority);
}
.GithubLink_link__3iaUH:hover {
  color: var(--c-text-body);
}
.SidebarUserBio_container__iWemi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SidebarUserBio_author__cM7pP {
  width: calc(100% - 70px);
  line-height: 1.4;
}
.SidebarUserBio_name__0zFdT {
  display: block;
  margin-top: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--c-text-body);
}
.SidebarUserBio_actions__oFupD {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 7px;
}
.SidebarUserBio_support__N8Q8t {
  width: 100%;
  margin-top: 15px;
}
.WebSiteLink_link__hZMX_ {
  width: 23px;
  height: 23px;
  color: var(--c-text-lower-priority);
}
.WebSiteLink_link__hZMX_:hover {
  color: var(--c-text-body);
}
.XLink_link__Sn3ha {
  display: inline-flex;
  color: var(--c-text-lower-priority);
}
.XLink_link__Sn3ha:hover {
  color: var(--c-text-body);
}
.XLink_link__Sn3ha svg {
  width: 18px;
  height: 18px;
}
.FollowButton_button__lapNm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 36px;
  font-size: 14.5px;
  font-weight: 700;
  color: var(--c-button-follow-fg);
  white-space: nowrap;
  background: var(--c-button-follow-bg);
  border: 1px solid var(--c-button-follow-border);
  border-radius: var(--rounded-full);
}
.FollowButton_button__lapNm:hover {
  background: var(--c-button-follow-hover-bg);
}
.FollowButton_button__lapNm.style-following {
  color: var(--c-button-following-fg);
  background: var(--c-button-following-bg);
  border: 1px solid var(--c-button-following-border);
}
.FollowButton_button__lapNm.style-small {
  width: 82px;
  height: 30px;
  font-size: 12.5px;
}
.PublicationInfoForDesktop_container__UxKig {
  background: var(--c-bg-base);
  border-bottom: 1px solid var(--c-neutral-border-lighter);
}
@media screen and (max-width: 992px) {
  .PublicationInfoForDesktop_container__UxKig {
    display: none;
  }
}
.PublicationInfoForDesktop_inner__LnToC {
  display: flex;
  align-items: center;
  padding: .7rem 0;
}
.PublicationInfoForDesktop_link__fqxgJ {
  display: flex;
  align-items: center;
  min-width: 0;
}
.PublicationInfoForDesktop_avatar__qh_yu {
  flex-shrink: 0;
  margin-right: .6rem;
}
.PublicationInfoForDesktop_displayName__nzipD {
  font-size: 16px;
  font-weight: 600;
}
.PublicationInfoForDesktop_label__d4mY3 {
  margin-left: .6rem;
}
.PublicationInfoForDesktop_proMark__ZHCCC {
  display: flex;
  margin-left: .35rem;
}
.PublicationLabelLink_link__JBqs2 {
  display: inline-flex;
  padding: .27rem .6rem;
  font-size: .78rem;
  line-height: 1.1;
  color: var(--c-text-low-priority);
  white-space: nowrap;
  border: 1px solid var(--c-neutral-border);
  border-radius: var(--rounded-full);
}
.PublicationProLabelLink_proLabelContainer__AY9_b {
  position: relative;
}
.PublicationProLabelLink_proLabelButton__IrfKg {
  display: inline-flex;
  align-items: center;
  padding: .2rem .6rem .2rem .3rem;
  font-size: .78rem;
  font-weight: 600;
  line-height: 1.1;
  color: var(--c-general-primary);
  white-space: nowrap;
  background: var(--c-bg-primary-lighter);
  border-radius: var(--rounded-full);
}
.PublicationProLabelLink_text__VWY7a {
  margin-left: 4px;
}
.PublicationProLabelLink_modalContainer__m0kJA {
  width: 300px;
  padding: .8rem;
}
.View_container__VQuzA {
  padding-bottom: 4rem;
  background: var(--c-bg-base-outer);
  border-top: 1px solid var(--c-neutral-border-lighter);
  border-bottom: 1px solid var(--c-neutral-border-lighter);
}
.View_stickyShare__TsaVf {
  position: absolute;
  top: 2px;
  left: -80px;
  z-index: 2;
  width: 50px;
  height: 100%;
}
@media screen and (width <= 1300px) {
  .View_stickyShare__TsaVf {
    display: none;
  }
}
.View_stickyShareInner__FLu2S {
  position: sticky;
  top: 100px;
  text-align: center;
}
.View_inner__LlCJG {
  position: relative;
}
.View_content__OZ_Dc {
  width: calc(100% - 330px);
}
@media screen and (max-width: 992px) {
  .View_content__OZ_Dc {
    width: 100%;
  }
}
.View_sidebarContainer__YwcNH {
  width: 300px;
}
@media screen and (max-width: 992px) {
  .View_sidebarContainer__YwcNH {
    display: none;
  }
}
.View_columnsContainer__ijfFN {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .View_columnsContainer__ijfFN {
    display: block;
  }
}
.View_main__AU6KW {
  background: var(--c-bg-base-inner);
  border: 1px solid var(--c-neutral-border-lighter);
  border-radius: var(--rounded-xs);
  padding: 40px 0;
  font-size: 16px;
}
@media screen and (max-width: 576px) {
  .View_main__AU6KW {
    padding: 35px 0;
    border-radius: 0;
    box-shadow: none;
  }
}
.View_topics__2sHkl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: .8rem;
  margin-top: -.5rem;
  font-size: 12.5px;
  line-height: 1.4;
}
.View_topics__2sHkl:after {
  min-width: 20px;
  height: 1px;
  content: "";
}
.View_topics__2sHkl::-webkit-scrollbar {
  display: none;
  appearance: none;
}
@media screen and (max-width: 576px) {
  .View_topics__2sHkl {
    flex-wrap: nowrap;
    margin-right: -20px;
    overflow: auto hidden;
    font-size: 11.5px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 400px) {
  .View_topics__2sHkl {
    margin-right: -14px;
  }
}
.View_topicLink__jdtX_ {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  height: 32px;
  padding: 2px;
  margin-right: .6em;
  margin-bottom: .6em;
  border: 1px solid var(--c-neutral-border-lighter);
  border-radius: var(--rounded-full);
}
.View_topicLink__jdtX_:hover {
  background: var(--c-bg-neutral-lightest);
}
[data-theme="dark-blue"] .View_topicLink__jdtX_ {
  background: var(--c-button-secondary);
}
[data-theme="dark-blue"] .View_topicLink__jdtX_:hover {
  background: var(--c-button-secondary-hover);
}
.View_topicImage__qMmmw {
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  margin-right: .4rem;
}
.View_topicImg__TpkV5 {
  display: block;
  border: none;
  border-radius: var(--rounded-full);
}
.View_topicName____nYp {
  padding-right: .5rem;
}
.View_topicHash__a18UT {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 .3rem 0 .4rem;
  font-size: 1.1em;
  color: var(--c-text-lower-priority);
}
.View_actions__s_UJk {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spacing-lg);
}
.View_menuAndShareButtonsContainer__PMtHU {
  display: flex;
  gap: var(--spacing-xxs);
  margin-left: auto;
}
@media screen and (max-width: 576px) {
  .View_menuAndShareButtonsContainer__PMtHU {
    gap: var(--spacing-3xs);
  }
}
.View_menu__wgMxq {
  display: inline-flex;
  align-items: center;
}
.View_publicationFixedSentences__wI4xN {
  font-size: .9rem;
}
.View_authorInfo__F19rR {
  padding-top: 2rem;
  border-top: 1px solid var(--c-neutral-border-lighter);
}
.View_publicationInfo__MKZ62 {
  margin-top: 2.3rem;
}
.View_previewMessage__g6Spt {
  font-weight: 700;
  color: var(--c-text-lower-priority);
  text-align: center;
}
.View_copyUrlBoxContainer__sFW9M {
  margin: .5rem 0 -1rem;
}
.View_bannersForMobile__BH560 {
  display: none;
}
@media screen and (max-width: 992px) {
  .View_bannersForMobile__BH560 {
    display: block;
  }
}
.View_bannersSection__oH_KV {
  padding: 1rem;
  border: 1px solid var(--c-neutral-border);
  border-radius: var(--rounded-xs);
}
.View_bannersHeader__wb3IJ {
  display: flex;
  gap: .4rem;
  align-items: flex-start;
  justify-content: space-between;
  font-size: .85rem;
  font-weight: 500;
  color: var(--c-text-low-priority);
  word-break: keep-all;
}
.View_bannersTitle__PosjC {
  font-size: .85rem;
  font-weight: 600;
  display: -webkit-box !important;
  max-height: 3.05em;
  overflow: hidden;
  line-height: 1.5;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.View_modalContainer__1QRnu {
  padding: .8rem;
}
.View_bannerContainer__iiVW8 {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1.25rem;
}
.ArticleCommentText_container__uyeml {
  display: flex;
  gap: var(--spacing-3xs);
  align-items: center;
  padding: var(--spacing-xxs) var(--spacing-3xs);
}
@media screen and (max-width: 768px) {
  .ArticleCommentText_container__uyeml {
    padding: var(--spacing-xxs) var(--spacing-xxs);
  }
}
.ArticleCommentText_messageText__ZJOag {
  display: inline-block;
  font-size: .95rem;
  color: var(--c-text-low-priority);
}
.ArticleCommentText_modalContainer__I4_o2 {
  max-width: 400px;
  padding: .8rem;
}
.BodyContent_emptyMessage__D6DmU {
  color: var(--c-text-lower-priority);
  text-align: center;
}
.BodyContent_anchorToHeadings__uGxNv .header-anchor-link {
  position: relative;
}
@media screen and (max-width: 768px) {
  .BodyContent_anchorToHeadings__uGxNv .header-anchor-link {
    display: none;
  }
}
.BodyContent_anchorToHeadings__uGxNv .header-anchor-link:before {
  position: absolute;
  top: .1em;
  left: -25px;
  display: block;
  width: 24px;
  height: 1em;
  padding-right: 5px;
  content: "";
  background: url(https://static.zenn.studio/images/link-gray.svg) no-repeat 50%;
  background-size: 20px 20px;
  opacity: 0;
}
.BodyContent_anchorToHeadings__uGxNv
  :is(h1, h2, h3, h4):hover
  .header-anchor-link:before {
  opacity: 1;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_codeBlockWrapper__Vzqhf {
  position: relative;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_codeBlockWrapper__Vzqhf:hover
  .InsertButtonToCodeBlock_copyButton__UB1NL,
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_codeBlockWrapper__Vzqhf:hover
  .InsertButtonToCodeBlock_wrapButton__9iuos {
  opacity: 1;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .code-block-filename-container
  + .InsertButtonToCodeBlock_codeBlockWrapper__Vzqhf
  pre {
  border-top-left-radius: 0;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_copyButton__UB1NL {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  background: #1a2737;
  opacity: 0;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_wrapButton__9iuos {
  position: absolute;
  top: 0;
  right: 36px;
  margin: 15px;
  background: #1a2737;
  opacity: 0;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_copyIcon__qjPQM {
  width: 19px;
  height: 19px;
  margin: 0 !important;
}
.InsertButtonToCodeBlock_insertButtonWrapper__ueql2
  .InsertButtonToCodeBlock_wrap__SWssk {
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}
.BookmarkButton_container__VcKCG {
  display: inline-flex;
  align-items: center;
}
.BookmarkButton_container__VcKCG.style-large
  .BookmarkButton_bookmarkButton__tZ8rb,
.BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb,
.BookmarkButton_container__VcKCG.style-medium
  .BookmarkButton_bookmarkButton__tZ8rb {
  color: var(--c-bg-neutral);
  background: var(--c-bg-neutral);
}
.BookmarkButton_container__VcKCG.style-large
  .BookmarkButton_bookmarkButton__tZ8rb:focus,
.BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb:focus,
.BookmarkButton_container__VcKCG.style-medium
  .BookmarkButton_bookmarkButton__tZ8rb:focus {
  box-shadow: 0 0 4px #8f9faa99;
}
.BookmarkButton_container__VcKCG.style-large
  .BookmarkButton_bookmarkedCount__pshkW,
.BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkedCount__pshkW,
.BookmarkButton_container__VcKCG.style-medium
  .BookmarkButton_bookmarkedCount__pshkW {
  margin-left: 8px;
}
.BookmarkButton_container__VcKCG.style-medium
  .BookmarkButton_bookmarkButton__tZ8rb {
  width: 34px;
  height: 34px;
}
.BookmarkButton_container__VcKCG.style-medium
  .BookmarkButton_bookmarkButton__tZ8rb
  svg {
  width: 22px;
  height: 22px;
}
.BookmarkButton_container__VcKCG.style-medium.count-bottom {
  display: block;
  text-align: center;
}
.BookmarkButton_container__VcKCG.style-medium.count-bottom
  .BookmarkButton_bookmarkedCount__pshkW {
  display: block;
  margin: -4px 0 -5px !important;
}
.BookmarkButton_container__VcKCG.style-large
  .BookmarkButton_bookmarkButton__tZ8rb,
.BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb {
  width: 50px;
  height: 50px;
}
.BookmarkButton_container__VcKCG.style-large
  .BookmarkButton_bookmarkButton__tZ8rb
  svg,
.BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb
  svg {
  width: 28px;
  height: 28px;
}
.BookmarkButton_container__VcKCG.style-large-white.count-bottom,
.BookmarkButton_container__VcKCG.style-large.count-bottom {
  display: block;
  text-align: center;
}
.BookmarkButton_container__VcKCG.style-large-white.count-bottom
  .BookmarkButton_bookmarkedCount__pshkW,
.BookmarkButton_container__VcKCG.style-large.count-bottom
  .BookmarkButton_bookmarkedCount__pshkW {
  display: block;
  margin: 0 0 -5px !important;
}
.BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb {
  color: #fff;
  background: #fff;
  box-shadow: 0 2px 3px -1px #0000000d;
}
[data-theme="dark-blue"]
  .BookmarkButton_container__VcKCG.style-large
  .BookmarkButton_bookmarkButton__tZ8rb,
[data-theme="dark-blue"]
  .BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb,
[data-theme="dark-blue"]
  .BookmarkButton_container__VcKCG.style-medium
  .BookmarkButton_bookmarkButton__tZ8rb {
  background: var(--c-button-secondary);
}
[data-theme="dark-blue"]
  .BookmarkButton_container__VcKCG.style-large-white
  .BookmarkButton_bookmarkButton__tZ8rb {
  color: none;
  background: none;
  box-shadow: 0 2px 3px -1px #0000000d;
}
.BookmarkButton_bookmarkButton__tZ8rb {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: var(--rounded-full);
}
.BookmarkButton_bookmarkedCount__pshkW {
  margin: 2px 0 0 2px;
  font-size: 12px;
  color: var(--c-text-lower-priority);
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}
.BookmarkButton_bookmarkPanel__DeoqW {
  width: 320px;
}
.BookmarkButton_bookmarkPanelInner__WwQQ8 {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .BookmarkButton_bookmarkPanelInner__WwQQ8 {
    max-height: 80dvh;
  }
}
.BookmarkButton_bookmarkPanelInner__WwQQ8 > div:not(:last-child) {
  border-bottom: 1px solid var(--c-neutral-border);
}
.BookmarkButton_bookmarkStatusContainer__oMxE_ {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.BookmarkButton_bookmarkCategoryNote__TdP3P {
  padding-bottom: 4px;
  padding-left: 10px;
  text-align: left;
}
.BookmarkButton_bookmarkCategoryListContainer__2oQku {
  flex: 1 1 auto;
  overflow-y: auto;
}
.BookmarkButton_bookmarkCategoryList__c4MCv {
  display: flex;
  flex-direction: column;
  max-height: 440px;
}
.BookmarkButton_bookmarkCategoryCheckboxContainer__ODlWf {
  padding: 0 10px;
}
.BookmarkButton_bookmarkCategoryCheckboxContainer__ODlWf:hover {
  background: var(--c-bg-neutral-lighter);
}
.BookmarkButton_bookmarkCategoryCheckbox__lJiTd {
  width: 100%;
}
.BookmarkButton_bookmarkPanelTitle__EeqAt {
  margin: 10px 10px .25rem;
  font-size: .85rem;
  font-weight: 700;
  text-align: left;
}
.BookmarkButton_newBookmarkCategoryContainer__vhg5J {
  padding: 10px;
}
.BookmarkButton_bookmarkPanelFooterContainer__oDXda {
  flex: 0 0 auto;
  padding: 10px;
  text-align: left;
}
.AppModal_htmlOpen__uRqo6 {
  overflow: hidden;
  scrollbar-gutter: stable;
}
.AppModal_content__DappO {
  margin: auto;
  outline: 0;
}
.AppModal_overlayBase___F163 {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: var(--c-bg-backdrop);
  opacity: 0;
  transition: all .2s ease;
}
.AppModal_modalOverlay__g8Gu_ {
  z-index: 200;
}
.AppModal_dialogOverlay__lA1lB {
  z-index: 300;
}
.AppModal_overlayAfterOpen__ehuuG {
  opacity: 1;
}
.AppModal_overlayBeforeClose__IFJXF {
  opacity: 0;
}
@media screen and (max-width: 576px) {
  .AppModal_overlayBaseSpFullscreen___OlHN {
    transform: translateY(100px);
  }
}
@media screen and (max-width: 576px) {
  .AppModal_overlayAfterOpenSpFullscreen__kaQ8N {
    transform: translateY(0);
  }
}
@media screen and (max-width: 576px) {
  .AppModal_overlayBeforeCloseSpFullscreen__C4b4x {
    transform: translateY(100px);
  }
}
.AppModal_container__AaSRy {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  overflow-y: auto;
  background: var(--c-bg-base);
  border-radius: var(--rounded-xs);
  box-shadow: 0 5px 20px #00166721;
}
[data-theme="dark-blue"] .AppModal_container__AaSRy {
  background: var(--c-bg-popover);
  box-shadow: 0 5px 20px #00000021;
}
.AppModal_containerSpFullscreen__i1fiE {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .AppModal_containerSpFullscreen__i1fiE {
    position: fixed;
    inset: 0;
    max-width: 100vw;
    max-height: 90dvh;
    margin: auto 0 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.AppModal_header__1El__ {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--c-neutral-border-lighter);
}
[data-theme="dark-blue"] .AppModal_header__1El__ {
  border-bottom: 1px solid var(--c-neutral-border);
}
.AppModal_inner__YUD_L {
  flex: 1;
  padding: 0;
  overflow-y: auto;
}
.AppModal_innerWithSmallPadding__6GjdT {
  padding: 20px;
}
.AppModal_innerWithPadding__ulNHl {
  padding: 30px;
}
@media screen and (max-width: 576px) {
  .AppModal_innerWithPadding__ulNHl {
    padding: 30px 20px;
  }
}
.AppModal_buttonClose__2HR5h {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--c-text-lower-priority);
  background: #fff;
  border-radius: var(--rounded-full);
}
.AppModal_buttonClose__2HR5h:hover {
  color: var(--c-text-low-priority);
  background: var(--c-neutral-border-lighter);
}
[data-theme="dark-blue"] .AppModal_buttonClose__2HR5h {
  background: none;
}
[data-theme="dark-blue"] .AppModal_buttonClose__2HR5h:hover {
  background: var(--c-button-secondary-hover);
}
.Checkbox_container__Nwk9a {
  display: inline-flex;
  align-items: center;
  margin: .45em 0;
  line-height: 1.5;
  color: inherit;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  outline: 0;
}
.Checkbox_container__Nwk9a span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  min-width: 19px;
  height: 19px;
  margin-right: 8px;
  background: #fff;
  border: 1px solid var(--c-text-lower-priority);
  border-radius: var(--rounded-xs);
}
.Checkbox_container__Nwk9a span:before {
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 10px;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  opacity: 0;
  transform: rotate(45deg);
}
.Checkbox_container__Nwk9a:focus span {
  border: 1px solid var(--c-general-primary);
  outline: 0;
  box-shadow: 0 0 0 2.5px var(--c-focus-shadow);
}
.Checkbox_containerActive__OH7Pm span {
  background: var(--c-general-primary);
  border-color: var(--c-general-primary);
}
.Checkbox_containerActive__OH7Pm span:before {
  opacity: 1;
}
.TextField_input__Mtdob,
.TextField_textarea__1a4nt {
  display: block;
  width: 100%;
  font-size: 15px;
  appearance: none;
  background: var(--c-bg-neutral-lightest);
  border: 1px solid var(--c-neutral-border);
  border-radius: var(--rounded-md);
}
@media screen and (max-width: 992px) {
  .TextField_input__Mtdob,
  .TextField_textarea__1a4nt {
    font-size: 16px;
  }
}
.TextField_input__Mtdob:focus,
.TextField_textarea__1a4nt:focus {
  border: 1px solid var(--c-general-primary);
  outline: 0;
  box-shadow: 0 0 0 2.5px var(--c-focus-shadow);
}
.TextField_input__Mtdob[aria-invalid="true"],
.TextField_textarea__1a4nt[aria-invalid="true"] {
  border: 1px solid var(--c-general-alert);
}
[data-theme="dark-blue"] .TextField_textarea__1a4nt {
  background: var(--c-bg-base-lighter);
}
.TextField_input__Mtdob {
  padding: .6em 0 .6em .7em;
  line-height: 1.4;
}
[data-theme="dark-blue"] .TextField_input__Mtdob {
  background: var(--c-bg-base-lighter);
}
.TextField_inputSmall__TzdmP {
  padding: .5em 0 .5em .6em;
  font-size: 14px;
}
@media screen and (max-width: 576px) {
  .TextField_inputSmall__TzdmP {
    font-size: 16px;
  }
}
.TextField_textarea__1a4nt {
  padding: .6em .7rem;
  line-height: 1.7;
}
.FieldLabel_label__T3sc4 {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  font-size: .85rem;
  font-weight: 700;
  line-height: 1.4;
}
.FieldLabel_label__T3sc4 svg {
  margin-right: .3em;
}
.FieldLabel_labelRequired__Ww_mm {
  margin-left: .2rem;
  color: var(--c-general-alert);
}
.FieldLabel_description__H3_BK {
  margin-left: .4rem;
  font-size: .78rem;
  font-weight: 400;
  color: var(--c-text-low-priority);
}
.FieldMessage_message__kzk0F {
  display: flex;
  align-items: flex-start;
  margin-top: .6rem;
  font-size: 13.5px;
  line-height: 1.4;
  color: var(--c-text-low-priority);
}
.FieldMessage_messageErrorColor__KJPUm {
  color: var(--c-general-alert);
}
.FieldMessage_messageIcon__TjZOU {
  flex-shrink: 0;
  margin: -2px 3px 0 0;
}
@media screen and (max-width: 992px) {
  .ContainerUndo_undoInLG__ZKGlu {
    margin: 0 -40px;
  }
}
@media screen and (max-width: 768px) {
  .ContainerUndo_undoInLG__ZKGlu {
    margin: 0 -25px;
  }
}
@media screen and (max-width: 576px) {
  .ContainerUndo_undoInLG__ZKGlu {
    margin: 0 -20px;
  }
}
@media screen and (max-width: 400px) {
  .ContainerUndo_undoInLG__ZKGlu {
    margin: 0 -14px;
  }
}
@media screen and (max-width: 768px) {
  .ContainerUndo_undoInMD__sZfEL {
    margin: 0 -25px;
  }
}
@media screen and (max-width: 576px) {
  .ContainerUndo_undoInMD__sZfEL {
    margin: 0 -20px;
  }
}
@media screen and (max-width: 400px) {
  .ContainerUndo_undoInMD__sZfEL {
    margin: 0 -14px;
  }
}
@media screen and (max-width: 576px) {
  .ContainerUndo_undoInSM__1vdc1 {
    margin: 0 -20px;
  }
}
@media screen and (max-width: 400px) {
  .ContainerUndo_undoInSM__1vdc1,
  .ContainerUndo_undoInXS__yIo8k {
    margin: 0 -14px;
  }
}
.PopoverMenuButton_menuButton__hKCa_ {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: var(--c-text-lower-priority);
  border-radius: var(--rounded-full);
}
.PopoverMenuButton_menuButton__hKCa_:hover {
  color: var(--c-text-low-priority);
  background: var(--c-bg-neutral);
}
[data-theme="dark-blue"] .PopoverMenuButton_menuButton__hKCa_:hover {
  background: var(--c-button-secondary-hover);
}
.usePopoverMenu_menuInner__AGWWx {
  color: var(--c-text-body);
  white-space: nowrap;
}
.usePopoverMenu_item__D7Bm1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  outline: none;
}
.usePopoverMenu_item__D7Bm1:focus,
.usePopoverMenu_item__D7Bm1:hover {
  background: var(--c-bg-neutral-lighter);
}
.usePopoverMenu_item__D7Bm1:focus {
  box-shadow: 0 0 0 2px inset var(--c-neutral-border);
}
.usePopoverMenu_item__D7Bm1:first-child {
  border-top-left-radius: var(--rounded-xs);
  border-top-right-radius: var(--rounded-xs);
}
.usePopoverMenu_item__D7Bm1:last-child {
  border-bottom-right-radius: var(--rounded-xs);
  border-bottom-left-radius: var(--rounded-xs);
}
[data-theme="dark-blue"] .usePopoverMenu_item__D7Bm1 {
  color: var(--c-text-low-priority);
}
[data-theme="dark-blue"] .usePopoverMenu_item__D7Bm1:focus,
[data-theme="dark-blue"] .usePopoverMenu_item__D7Bm1:hover {
  color: var(--c-text-body);
  background: var(--c-button-secondary-hover);
}
[data-theme="dark-blue"] .usePopoverMenu_item__D7Bm1:focus {
  color: var(--c-text-body);
}
.usePopoverMenu_itemDanger__iGw3a {
  color: var(--c-general-alert);
}
.usePopoverMenu_itemDanger__iGw3a:focus,
.usePopoverMenu_itemDanger__iGw3a:hover {
  background: var(--c-bg-alert);
}
.usePopoverMenu_itemDanger__iGw3a:focus {
  box-shadow: 0 0 0 2px inset var(--c-general-alert);
}
.usePopoverMenu_itemBorderTop__O_8Gq:not(:first-child) {
  border-top: 1px solid var(--c-bg-neutral);
}
[data-theme="dark-blue"]
  .usePopoverMenu_itemBorderTop__O_8Gq:not(:first-child) {
  border-top: 1px solid var(--c-neutral-border-lighter);
}
.usePopoverMenu_itemIcon__qsv6h {
  display: inline-flex;
  align-items: center;
  width: 28px;
  color: var(--c-text-lower-priority);
}
.usePopoverMenu_itemDanger__iGw3a .usePopoverMenu_itemIcon__qsv6h {
  color: var(--c-general-alert);
}
.usePopoverMenu_itemLabel__UdNIk {
  flex: 1;
}
.ContentStickyNavForMobile_container__153a8 {
  position: sticky;
  top: 0;
  display: none;
  background: var(--c-bg-base);
  border-bottom: 1px solid var(--c-neutral-border-lighter);
  z-index: 100;
}
@media screen and (max-width: 992px) {
  .ContentStickyNavForMobile_container__153a8 {
    display: block;
  }
}
.ContentStickyNavForMobile_inner__xJ_fS {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}
.ContentStickyNavForMobile_avatarInner__3_noS {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
}
.ContentStickyNavForMobile_principalLink__c15vw {
  display: flex;
  align-items: center;
  min-width: 0;
}
.ContentStickyNavForMobile_avatarContainer__V3P_G {
  flex-shrink: 0;
  margin-right: 7px;
}
.ContentStickyNavForMobile_displayName__cmEag {
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ContentStickyNavForMobile_actions__a9fMk {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.ContentStickyNavForMobile_proMark__jsb_u {
  display: flex;
  margin-left: .35rem;
  color: var(--c-general-primary);
}
.ContentStickyNavForMobile_modalContainer__dL2RZ {
  width: 300px;
  padding: .8rem;
}
@keyframes LikeButton_pulse__xGXY3 {
  50% {
    transform: scale(1.2);
  }
}
@keyframes LikeButton_explode__3Z5as {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(1.5) translate(-12.5%, -12.5%);
  }
}
.LikeButton_container__YlckE {
  display: inline-flex;
  align-items: center;
}
.LikeButton_container__YlckE.anim-enabled
  .LikeButton_buttonActive__oR0fY
  .LikeButton_svgLike__Gl0Sz {
  animation: LikeButton_pulse__xGXY3 .3s ease-in-out;
}
.LikeButton_container__YlckE.anim-enabled
  .LikeButton_buttonActive__oR0fY
  .LikeButton_svgLikeDecoration__78UjB {
  animation: LikeButton_explode__3Z5as .3s;
}
.LikeButton_container__YlckE.style-large .LikeButton_button__ZwdG4,
.LikeButton_container__YlckE.style-large-white .LikeButton_button__ZwdG4,
.LikeButton_container__YlckE.style-medium .LikeButton_button__ZwdG4 {
  color: var(--c-bg-neutral);
  background: var(--c-bg-neutral);
}
.LikeButton_container__YlckE.style-large .LikeButton_button__ZwdG4:focus,
.LikeButton_container__YlckE.style-large-white .LikeButton_button__ZwdG4:focus,
.LikeButton_container__YlckE.style-medium .LikeButton_button__ZwdG4:focus {
  box-shadow: 0 0 4px #f8668499;
}
.LikeButton_container__YlckE.style-large .LikeButton_buttonActive__oR0fY,
.LikeButton_container__YlckE.style-large-white .LikeButton_buttonActive__oR0fY,
.LikeButton_container__YlckE.style-medium .LikeButton_buttonActive__oR0fY {
  background: var(--c-bg-like);
}
.LikeButton_container__YlckE.style-large .LikeButton_likedCount__nJzwt,
.LikeButton_container__YlckE.style-large-white .LikeButton_likedCount__nJzwt,
.LikeButton_container__YlckE.style-medium .LikeButton_likedCount__nJzwt {
  margin-left: 8px;
}
.LikeButton_container__YlckE.style-medium .LikeButton_button__ZwdG4 {
  width: 34px;
  height: 34px;
}
.LikeButton_container__YlckE.style-medium .LikeButton_svgLike__Gl0Sz {
  width: 24px;
  height: 24px;
}
.LikeButton_container__YlckE.style-medium.count-bottom {
  display: block;
  text-align: center;
}
.LikeButton_container__YlckE.style-medium.count-bottom
  .LikeButton_likedCount__nJzwt {
  display: block;
  margin: -4px 0 -5px !important;
}
.LikeButton_container__YlckE.style-large .LikeButton_button__ZwdG4,
.LikeButton_container__YlckE.style-large-white .LikeButton_button__ZwdG4 {
  width: 50px;
  height: 50px;
}
.LikeButton_container__YlckE.style-large .LikeButton_svgLike__Gl0Sz,
.LikeButton_container__YlckE.style-large-white .LikeButton_svgLike__Gl0Sz {
  width: 30px;
  height: 30px;
}
.LikeButton_container__YlckE.style-large-white.count-bottom,
.LikeButton_container__YlckE.style-large.count-bottom {
  display: block;
  text-align: center;
}
.LikeButton_container__YlckE.style-large-white.count-bottom
  .LikeButton_likedCount__nJzwt,
.LikeButton_container__YlckE.style-large.count-bottom
  .LikeButton_likedCount__nJzwt {
  display: block;
  margin: 0 0 -5px !important;
}
.LikeButton_container__YlckE.style-large-white .LikeButton_button__ZwdG4 {
  color: #fff;
  background: #fff;
  box-shadow: 0 2px 3px -1px #0000000d;
}
.LikeButton_container__YlckE.style-large-white .LikeButton_buttonActive__oR0fY {
  background: var(--c-bg-like);
}
[data-theme="dark-blue"]
  .LikeButton_container__YlckE.style-large
  .LikeButton_button__ZwdG4,
[data-theme="dark-blue"]
  .LikeButton_container__YlckE.style-large-white
  .LikeButton_button__ZwdG4,
[data-theme="dark-blue"]
  .LikeButton_container__YlckE.style-medium
  .LikeButton_button__ZwdG4 {
  background: var(--c-button-secondary);
}
[data-theme="dark-blue"]
  .LikeButton_container__YlckE.style-large-white
  .LikeButton_button__ZwdG4 {
  color: var(--c-bg-neutral);
  background: var(--c-button-secondary);
}
[data-theme="dark-blue"]
  .LikeButton_container__YlckE.style-large-white
  .LikeButton_buttonActive__oR0fY {
  background: #392c3f;
}
.LikeButton_svgLike__Gl0Sz {
  width: 24px;
  height: 24px;
}
.LikeButton_button__ZwdG4 {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: var(--rounded-full);
  outline: 0;
  transition: .2s;
}
.LikeButton_button__ZwdG4:focus {
  background: var(--c-bg-like);
}
.LikeButton_button__ZwdG4 .LikeButton_svgLike__Gl0Sz {
  overflow: visible;
}
.LikeButton_button__ZwdG4 .LikeButton_svgLikeLine__f9txR {
  color: var(--c-text-lower-priority);
  transition: .2s;
}
.LikeButton_button__ZwdG4 .LikeButton_svgLikeInner__uiexS {
  color: var(--c-button-secondary);
  transition: .2s;
}
.LikeButton_button__ZwdG4 .LikeButton_svgLikeDecoration__78UjB {
  opacity: 0;
}
.LikeButton_buttonActive__oR0fY .LikeButton_svgLikeInner__uiexS,
.LikeButton_buttonActive__oR0fY .LikeButton_svgLikeLine__f9txR {
  color: var(--c-general-like);
}
.LikeButton_likedCount__nJzwt {
  margin: 2px 0 0 2px;
  font-size: 12px;
  color: var(--c-text-lower-priority);
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
}
.ProfileCard_container__YfvQl {
  position: relative;
  min-height: 80px;
}
.ProfileCard_avatar__tIJpR {
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  width: 80px;
  height: 80px;
}
.ProfileCard_content__1w905,
.ProfileCard_name__qXamf {
  padding-left: 100px;
}
.ProfileCard_name__qXamf {
  display: flex;
  flex-wrap: wrap;
  gap: .3rem;
  align-items: center;
  line-height: 1.4;
}
.ProfileCard_displayName__gRUeY {
  display: inline-block;
  margin-right: .5rem;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--c-text-body);
}
.ProfileCard_actions__2ZjZ8 {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  align-items: center;
  margin-top: .8rem;
}
.ProfileCard_follow__ng60N {
  margin-right: .4rem;
}
.ProfileCard_content__1w905 {
  margin-top: .7rem;
  font-size: .93rem;
  line-height: 1.6;
  color: var(--c-text-low-priority);
}
@media screen and (max-width: 576px) {
  .ProfileCard_container__YfvQl {
    min-height: 60px;
  }
  .ProfileCard_avatar__tIJpR {
    width: 60px;
    height: 60px;
  }
  .ProfileCard_displayName__gRUeY {
    font-size: 1em;
  }
  .ProfileCard_content__1w905,
  .ProfileCard_name__qXamf {
    padding-right: 0;
    padding-left: 75px;
  }
}
.ProfileCard_proMark__YZPJW {
  display: flex;
}
.PublicationFixedSentences_container__TEQhj {
  padding: 1rem 1rem 1.1rem;
  background: #fff;
  border: 1px solid var(--c-neutral-border);
  border-radius: var(--rounded-xs);
}
.PublicationFixedSentences_header__Hk9_W {
  display: flex;
  gap: .5rem;
  align-items: center;
  line-height: 1.4;
  color: var(--c-text-low-priority);
}
.PublicationFixedSentences_title__Z8wYN {
  flex: 1;
  font-size: .8rem;
}
.PublicationFixedSentences_htmlContainer__zuhAF {
  margin-top: .8rem;
}
.BodySimpleContent_container__jt088 {
  line-height: 1.7;
  color: var(--c-text-body);
}
.BodySimpleContent_container__jt088 p {
  margin: .8em 0 0;
}
.BodySimpleContent_container__jt088 > :first-child {
  margin-top: 0;
}
.BodySimpleContent_container__jt088 > :last-child {
  margin-bottom: 0;
}
.BodySimpleContent_container__jt088 a {
  color: var(--c-text-link-primary);
}
.BodySimpleContent_container__jt088 ol,
.BodySimpleContent_container__jt088 ul {
  padding-left: 1.3em;
}
.BodySimpleContent_container__jt088 > ol,
.BodySimpleContent_container__jt088 > ul {
  margin-top: .5em;
}
.BodySimpleContent_container__jt088 ul {
  list-style: disc;
}
.BodySimpleContent_container__jt088 ol {
  list-style: decimal;
}
.BodySimpleContent_container__jt088 li {
  margin: .15em 0;
}
.BodySimpleContent_container__jt088 em {
  font-style: italic;
}
.BodySimpleContent_container__jt088 strong {
  font-weight: 600;
}
.ShareButtonsExperimental_container__CrtBj {
  display: flex;
  gap: var(--spacing-xxs);
}
@media screen and (max-width: 576px) {
  .ShareButtonsExperimental_container__CrtBj {
    gap: var(--spacing-3xs);
  }
}
.ShareButtonsExperimental_button__d9aXF {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-text-lower-priority);
}
.ShareButtonsExperimental_button__d9aXF:hover {
  color: var(--c-text-low-priority);
}
.ShareButtonsExperimental_svgTwitterBase__8FrNq {
  padding: 8px;
}
.ShareButtonsExperimental_svgTwitterBase__8FrNq svg {
  width: 24px;
  height: 24px;
}
.ShareButtonsExperimental_svgTwitterHorizontal__5xDGM {
  margin-bottom: -2px;
}
.ShareButtonsExperimental_svgFacebookBase___gDOW {
  padding: 8px;
}
.ShareButtonsExperimental_svgFacebookBase___gDOW svg {
  width: 28px;
  height: 28px;
}
.ShareButtonsExperimental_svgHatenaBookmarkBase__VXz6p {
  padding: 8.5px;
}
.ShareButtonsExperimental_svgHatenaBookmarkBase__VXz6p svg {
  width: 27px;
  height: 27px;
}
@keyframes ErrorContent_errorFadeIn__cTNRY {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ErrorContent_hideHeaderContainer__41yae {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  background: #fff;
  animation: ErrorContent_errorFadeIn__cTNRY 1s ease-in 0s 1 normal;
  z-index: 400;
}
.ErrorContent_content__MMALk {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 1.8rem 0 2rem;
  text-align: center;
}
.ErrorContent_status__2Ykoq {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: .08em;
}
.ErrorContent_message__4TfMa {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--c-text-low-priority);
  text-align: left;
}
@media screen and (max-width: 400px) {
  .ErrorContent_message__4TfMa {
    font-size: 1rem;
  }
}
.ErrorContent_image__w5F6i {
  margin: 2rem auto;
  text-align: center;
  animation: ErrorContent_errorFadeIn__cTNRY 2s ease-in-out 0s 1 normal;
}
.ErrorContent_actions__KMKDC {
  margin: 1.5rem 0;
  text-align: center;
}
